(Machine Learning Mastery) Jason Brownlee - Machine Learning Mastery with Python (2016).pdf
COM747 Assessment_brief.pdf
COM747 Assessment_plan.pdf
crash_course.ipynb
CRISP-DM-for-Data-Science.pdf
Heart Disease Prediction using Exploratory Data Analysis.pdf
EDA.ipynb